* {
   margin: 0px;
   padding: 0px;
}

a:link {text-decoration:none; color:blue;}
a:visited {text-decoration:none; color:blue;}
a:hover {text-decoration:none; color:blue;}
a:active {text-decoration:none; color:blue;}

@font-face
{
font-family: myfont;
src: url('typola/TRUE-TYPOLA.ttf');
}

body{
font-size:18px;
font-family:myfont;
background-color:white;
font-weight:bold;
}

.active{
text-decoration:underline;
}

.cvheader{
background-color:white;
}

#namebox{
width:250px;
height:25px;
position: absolute;
z-index: 2;
left: 12%;
top: 15%;
text-align:center;
font-size:30px;
color: gray;
}

#bigbox{
width:100%;
height:670px;
background-color:white;
}

#imagebox{
width:350;
height:600px;
background-color:white;
float:left;
}

#textbox{
width:1000px;
height:670px;
background-color:white;
margin:auto;
}

#navbox{
  width: 700px;
  height:30;
  background-color: white;
  position: absolute;
  left: 60%;
  top: 8%;
  text-align:center;
  font-size:22px;
  color: gray;
}

#navabout{
background-color:white;
height:30px;
float:left;
}

#navcv{
height:30px;
background-color:white;
float:left;
}

#navportfolio{
background-color:white;
height:30px;
float:left;
}

.navunitspacer{
height:30px;
float:left;
background-color:white;
}

#aboutbox{
width:900px;
background-color:white;
}

.aboutpara{
width:90px;
height:300px;
background-color:white;
float:left;
}

.aboutpara2{
width:100%;
height:495px;
background-color:white;
float:left;
line-height:160%;
}

#cvbox{
width:100%;
font-size: 15px;
}

.shortbox{
width:15%;
height:22px;
background-color:white;
float:left;
padding-left:20px;
}

.longbox{
width:75%;
height:22px;
float:right;
background-color:white;
padding-left:20px;
text-align:left;
}

.listspacer{
width:850px;
height:5px;
background-color:white;
float:left;
}

/* #educationheader, #teachingheader, #publicationsheader, #awardsheader, #relatedheader, #relatedbox
*/

.topic{
width:100%;
height:18px;
font-weight:bold;
float:left;
vertical-align:bottom;
padding-top:20px;
padding-left:50px;
}

/* #educationbox, #teachingbox, #publicationsbox, #awardsbox, #relatedbox
*/
.box{
width:850px;
padding-left:50px;
background-color:white;
}
